.footer {
  background-color: var(--d-cyan);
  padding: 24rem 4rem 4rem 8rem;
  color: var(--l-cyan);
  position: relative;

  @include responsive(phone) {
    padding: 1rem;

    
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include responsive(tab-port) {
      flex-direction: column;

      & > * {
        margin-bottom: 3rem;
      }
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--l-cyan);

    &--fb,
    &--tw,
    &--ig {
      box-sizing: content-box;
      padding: 1rem;
      border-radius: var(--bcircle);
      border: 2px solid var(--l-cyan);
    }

    &--fb:hover {
      fill: #3b5998;
      border: 2px solid #3b5998;
    }

    &--tw:hover {
      fill: #00acee;
      border: 2px solid #00acee;
    }

    &--ig:hover {
      fill: #e1306c;
      border: 2px solid #e1306c;
    }
  }

  &__info-box {
    flex: 0 0 33%;

    & > * {
      display: flex;
      margin-bottom: 2rem;
    }

    & > * :first-child {
      margin-right: 2rem;
    }
  }

  &__text {
    width: 100%;
  }

  &__list {
    list-style: none;

    & > * {
      margin-bottom: 2rem;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: currentColor;
    margin-bottom: 1rem;
    border-bottom: 1px solid transparent;
  }

  &__link:hover {
    border-bottom: 1px solid currentColor;
  }

  &__media {
    display: flex;
    margin-right: 15rem;

    @include responsive(tab-port) {
      margin-right: 0;
      justify-content: center;
    }

    & > * {
      margin-left: 1rem;
    }
  }

  &__copy {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;

    @include responsive(tab-port) {
      justify-content: center;
      margin-top: 2rem;
    }
  }
}
