/* MARGINS */

.mtopxl {
  margin-top: 6rem;
}
.mtopl {
  margin-top: 4.5rem;
}
.mtopm {
  margin-top: 3rem;
}
.mtops {
  margin-top: 1.5rem;
}

.mbotxl {
  margin-bottom: 6rem;
}
.mbotl {
  margin-bottom: 4.5rem;
}
.mbotm {
  margin-bottom: 3rem;
}

.mbots {
  margin-bottom: 1.5rem;
}

/* TEXT ALIGN */

.txtcenter {
  text-align: center;
}
